__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.venv
venv
env
ENV
*.log
db.sqlite3
*.md
.vscode
.idea
uploaded_videos/*
uploaded_images/*
logs/*
Documentation/
Model Creation/
github_assets/
*.mp4
*.avi
*.mov
